body{
	background-color: navy;
	color: white;
	margin: 0;
}
.form-container{
	margin: 30% auto 30%;
	border: 2px solid #fff;
}
.form-div{
	padding: 15% 15% 20%;
}
/*form heading */
.form-header{
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	
}
label {
	font-size: 1rem;
	font-weight: bold;
	
}
.form-footer{
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	padding-top: 5%;
}
.form-logo{
	border-radius: 100%;
	background-color: white;
	width: 30%;
	margin: 10% auto 10%;
	
}

	
.btn{
	width: 50%;
	margin: 10% auto 10%;
}